<a href="https://colab.research.google.com/github/dalshaikh/python-Exercises/blob/main/python_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
 #define and print variable in different data type in python:
name="doha"
age = 21
major="cis"
print(name) 
print(age)

doha
21

In [65]:
# different operation with STRING data type
print (type(major))
print("**********************************")
str="doha"
print("the name is :"+str)
print(str[0])
print(len(str))
print(str+" isam")
print(str[1:3])
print("**********************************")

<class 'str'>
**********************************
the name is :doha
d
4
doha isam
oh
**********************************

In [64]:
# list in python:
my_list =["doha" , 21 ,"cis"]
print (my_list)
print (my_list[0]) # first index
print (my_list[-1]) #last index
print(my_list[0:2]) # print element 1 and element 2 only.

['doha', 21, 'cis']
doha
cis
['doha', 21]

In [63]:
#replace letter
name ='Python'
print(name)
print(name.replace(name[0],'S'))

Python
Sython

In [62]:
# mathmatical operation in python
x = 2
y = 4
z = 2.2
#  desimal output:
print(y / x)
# integer output:
print(y // x) 
# multiply:
print(y * x)
# summation 
print(y + x)

2.0
2
8
6

In [61]:
# Logical operation (AND): 
print(True and False)  # False
print(True and True)  # True
print(False and False)  # False
print(False and True)  # false

False
True
False
False

In [60]:
# Logical operation (OR): 
print(True or False)  # True
print(True or True)  # True
print(False or False)  # False
print(False or True)  # True

True
True
False
True

In [59]:
# Logical operation (NOT): 
print(not True )  # False
print(not False )  # True

False
True

In [58]:
# use logical operation in IF ** ELSE statement:
a = 2
b = 4
# Logical and
if a > 0 and b > 0:
    # both conditions are true
    print(a * b)
else:
    print("Do nothing")

8

In [50]:
# IS in python:
x = 10
y = 11 
z = 10
print(x is y) # it compare memory address of x and y 
print(x is z) # it compare memory address of x and z

False
True

In [49]:

# define dictionary(key:value) in python 
my_dict = {1: "Smith", 2: "Emma", 3: "Jessa"}
# display dictionary
print(my_dict)  # {1: 'Smith', 2: 'Emma', 3: 'Jessa'}
print(type(my_dict))  # class 'dict'

# access value using a key name
print(my_dict[1])  # Smith

# change the value of a key
my_dict[1] = "Kelly"
print(my_dict[1])  # Kelly

{1: 'Smith', 2: 'Emma', 3: 'Jessa'}
<class 'dict'>
Smith
Kelly

In [57]:
#define RANGE in python:
numbers = range(10, 15)
print(type(numbers))  # class 'range'

<class 'range'>

In [56]:
# iterate range using for loop:
for i in range(10, 15):
    print(i, end=" ")
# Output 10 11 12 13 14

10 11 12 13 14

In [55]:
# converting float to integer:
pi=3.14
print(type(pi))
num = int(pi)
print("Integer number:", num)
# Output  3
print(type(num))
# # Output class 'int'

<class 'float'>
Integer number: 3
<class 'int'>

In [54]:
# input statement:
password= input (" enter your password  ")
if password =="1234":
  print ("correct password")
else:
  print("incorrect password")

 enter your password  2346
incorrect password

In [53]:
# define FUNCTION
def test(num1):
  if num1==1:
    print("admin")
  elif num1==2:
    print("editor") 
  elif num1==3:
    print("guest")  
  else: 
    print("wrong entry") 

test(1)
test(2)
test(3)
test(4)

admin
editor
guest
wrong entry

In [52]:
# infinit LOOP
x = 1
while x <= 5: 
  print(x)
#  to solve infinit loop(incremental statement)
  x = x+1

1
2
3
4
5

In [51]:
months = ['January', 'June', 'March', 'April']
for mon in months:
    pass 
print(months)
name, age, marks = input("Enter your Name, Age, Percentage separated by space ").split()
print("\n")
print("User Details: ", name, age, marks)

['January', 'June', 'March', 'April']
Enter your Name, Age, Percentage separated by space doha 54 22


User Details:  doha 54 22